/* Hoja de estilo para  inventario.html */


#text-content table{
     margin-top:50px;
     font-size:13px;
     border:0;
}
#text-content table td{
     border:0;
     padding-bottom:10px;
}
#text-content table td input{
     width:230px;
}
#crearUsuario input{
    width:230px;
}
.asterisco{
     color:red;
}
.invalid{
    color:red;
    font-weight:bold;   
    font-size:small;
    
}

form table{
    margin-top:50px;
    font-size:13px;
    border:0;
}

form table td{
    border:0;
    padding-bottom:10px;
}
form table td input{
     width:230px;
}